{% extends 'core/base.html' %}
{% load static %}

{% block title %}Categorías{% endblock %}

{% block content %}
<main class="contenedor">
  

  <!-- Barra de navegación de categorías con estilos personalizados -->
  <nav class="category-nav-historias text-center mb-4">
    {% for cat in categories %}
      <a href="{% url 'category' cat.id %}" class="link-historias{% if category.id == cat.id %} active{% endif %}" >
        {{ cat.name }}
      </a>
      {% if not forloop.last %}<span class="separator"> | </span>{% endif %}
    {% endfor %}
    {% if not forloop.last %}<span class="separator"> | </span>{% endif %}
    <a href="{% url 'historias' %}" class="link-historias{% if category.id == cat.id %} active{% endif %}" >Todas las categorías</a>
  </nav>

  <h1>Categorías</h1>

  <section class="post-list">
    <div class="category-content">
      {% for post in category.get_posts.all %}
        <article class="post"> 
          <div class="post-header">
            <img class="post-img" src="{{ post.image.url }}" alt="{{ post.title }}">
          </div> 
          <div class="post-body">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content|linebreaks }}</p>
            <a href="{% url 'historia' post.id %}" class="btn btn-primary">Leer más</a>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
</main>

{% endblock %}