{% extends 'core/base.html' %}
{% load static %}

{% block title %}Categorías{% endblock %}

{% block content %}
<main class="contenedor">
  
  <h1>Categorías</h1>

  <!-- Barra de navegación de categorías con estilos personalizados -->
  <nav class="category-nav-historias text-center mb-4">
    {% for cat in categories %}
      <a href="{% url 'category' cat.id %}" class="link-historias{% if category.id == cat.id %} active{% endif %}" >
        {{ cat.name }}
      </a>
      {% if not forloop.last %}<span class="separator"> | </span>{% endif %}
    {% endfor %}
    {% if not forloop.last %}<span class="separator"> | </span>{% endif %}
    <a href="{% url 'historias' %}" class="link-historias{% if category.id == cat.id %} active{% endif %}" >Todas las categorías</a>
  </nav>


<main class="contendor-project"> 
  <h1>Categorias</h1>
  <div class="grid-projects">
    {% for post in category.get_posts.all %}
    <a href="{% url 'historia' post.id %}" class="card-link">
      <div class="card-project" style="--i:url('{{ post.image.url }}')">
        <div class="content-project">
          <h2>{{ post.title }}</h2>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</main>

{% endblock %}