{% extends 'core/base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title %}Historia{% endblock %}

{% block content %}
<main class="contenedor">
  <h1>Historia</h1>
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="row align-items-center">
        <div class="col-xl-6">
          <div class="video-container">
            {% video post.video as my_video %} 
                <iframe src="{{ my_video.url }}" frameborder="0" allowfullscreen></iframe> 
            {% endvideo %} 
          </div>
        </div>
        <div class="col-xl-6">
          <div class="texto">
            <h1>{{ post.title }}</h1>
            <p class="content-history">{{ post.content|linebreaks }}</p>
            <p class="titulo-post">{{ post.data }}</p>
            <p class="autor">
              <span class="category-history">Categorias
                {% for category in post.category.all %}
                  <a href="{% url 'category' category.id %}" class="link">{{category.name}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
              </span>
            </p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% comment %} <main >
  <h2 >Historia-Videos</h2> {% endcomment %}
  {% comment %} <div class="row">
    {% for post in posts %}
    <div class="col-xl-4">
          <p class="mb-0 ">
            <a class="nav-link" href="{% url 'historias' post.id %}">
            <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 w-100" src="{{ post.image.url }}" alt="">
            <h2 class="mb-5 ">
              <span class="titulo-dos">{{ post.title }}</span>
            </h2>
          </a>
          </p>
          
    </div>
    {% endfor %}
  </div> {% endcomment %}
{% comment %} </main>  {% endcomment %}
  