
{% extends 'core/base.html' %}

{% load static %}

{% block title %}Fotografías{% endblock %}
{% block content %}
<main class="contenedor">
  <h1>Fotografias</h1>
  <section class="post-list-fotografias">
    <div class="category-content-fotografias">
      {% for post in posts %}
      <article class="post-fotografias">
        <a href="{% url 'fotografia' post.id %}" class="post-link"> <!-- Enlace que envuelve todo el artículo -->
          <div class="post-header-fotografias">
            <img class="post-img" src="{{ post.image.url }}" alt="{{ post.title }}">
          </div>
          <div class="post-body-fotografias">
            <h2>{{ post.title }}</h2> <!-- Cambiado a <h2> para mejorar la estructura semántica -->
          </div>
        </a>
      </article>
      {% endfor %}
    </div>
  </section>
</main>

{% endblock %}