{% extends 'core/base.html' %}

{% load static %}

{% block title %}Proyectos{% endblock %}

{% block content %}


  <main class="project-home">
    {% comment %} <!-- <h1>Proyectos Audiovisuales</h1> --> {% endcomment %}
    {% for post in posts %}
    <div class="container-project">
      <div class="project-image">
        <div class="project-img">
          <a href="{{ post.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="project-image"> <!-- Imagen con clase project-image -->
          </a>
        </div>
      </div>
      <div class="project-content">
        <h2 class="project-title">{{ post.title }}</h2>
        <p class="project-text">{{ post.content }}</p>
        <!-- Puedes activar el siguiente botón para redirigir al contacto -->
        <!-- <a class="project-button" href="{% url 'contacto' %}">Contáctanos</a> -->
      </div>
    </div>
    {% endfor %}
  </main>
{% endblock %}
