@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900'); */



html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Playfair Display", serif ;
    font-size: 1.6rem;
    line-height: 1.8;
   
}
p {
    color: black;
    font-size: 2rem;
}
.contenedor {
    max-width: 1170px; 
    margin: 220px auto 0 auto; 
    padding: 0 15;
    margin-bottom: 10%;
} 




h1, h2, h3 {
    font-family: "Lato", sans-serif;
    margin: 5rem;
    font-weight: 300;
    text-align: center;
    
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
/*Header*/

.header {
    background-color: rgb(255, 255, 255);
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid gray;
    z-index: 1;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    max-width: 1650px;
    margin: 0 auto; 
}
.logo {
    line-height: 120px; 
    padding:  0 150px;
    text-decoration: none;
    /* margin-left: 8%; */

}
.image {
    width: 90px;
    height: auto;   
}  
.titulo {
    display: none;
    color: #000;
    line-height: 110px;
    
}
.titulo-colectivo {
    font-weight: 400;
}
.titulo-rectangulo {
    font-weight: 700;
}
.nav-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 80px; 
    /* position: relative;  */
}

.nav-menu-item {
    font-size: 18px; 
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    
    /* margin: 90 5px; */
    /* text-transform: capitalize;
    width: max-content;
    line-height: 120px;
    color: black; */
}
.nav-a {
    color: black;
    text-decoration: none;
}

.nav-menu-link {
    color: black !important; 


}
.nav-menu-link::after {
    content: "";
    height: 4px; /* Grosor de la línea */
    width: 0;
    background-color: rgb(63, 63, 63);
    display: block;
    transition: all 300ms;

}
.nav-menu-link:hover::after,
.nav-menu-link:focus::after,
.nav-menu-link_active::after {
    width: 100%;
}



.sub__menu {
    background-color: rgb(211, 211, 211);
    height: 90px; 
    position: absolute;
    width: 100%; 
    top: 120px;
    left: 0;
    z-index: 1;
    padding: 0 calc((100% - 178px) / 2); 
    align-items: center;
    display: flex; 
    display: none;
    list-style: none;
    
}
.sub__menu::before,
.sub__menu::after {
    content: "";
    width: calc(50% - 5px); /* El ancho de cada imagen, ajusta según tu necesidad */
    height: 90px; /* La misma altura que el menú */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.sub__menu::before {
    background-image: url("{% static 'core/img/imagen6.webp' %}");
    background-position: center; /* Ajusta la posición de la imagen */
}

.sub__menu::after {
    background-image: url("{% static 'core/img/imagen1.webp' %}");
    background-position: center; /* Ajusta la posición de la imagen */
}

.sub__menu .nav-menu-item {
    flex-grow: 1; /* Hace que los elementos ocupen el mismo ancho */
    text-align: center; /* Centra el texto dentro del espacio */
}



.nav-menu-item:hover .sub__menu {
    display: flex; /* Aparece cuando se pasa por encima de la opción "Colaboraciones" */
    transition: .8s;
}

.nav__toggle {
    color: black;
    background: none;
    border: none;
    line-height: 110px;
    font-size: 30px;
    padding: 0 49px;
    display:  none;
    /* margin-right: 40px; */
}



@media (max-width: 1245px) {
    .header {
        height: 110px;
    }
    .contenedor {
        max-width: 1170px; 
        margin: 120px auto 0 auto; 
        padding: 0 15;
        margin-bottom: 10%;
    } 
    
    .nav-menu {
        flex-direction: column;
        position: fixed;
        align-items: center;
        /* margin-right: 20px; */
        top: 110px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        padding: 15px 30px 30px;
        padding: 20px 0;
        display: none;
        transition: left 0.3;

    }
    .sub__menu {
        background: black;
        position: static;
        opacity: 1;
        padding: 0;
        box-shadow: none;
        width: 100%;
        /* display: none; */
        border-bottom: none;
        flex-direction: row;
        
    }
    .nav-link {
        color: white !important;
    }
    .image {
        display: none;
    }
    .titulo {
        display: block;
        text-decoration: none;
        
    }
    .logo {
        font-size: 30;
        padding:  0 10px;
        line-height: 120px;
        margin-left: 1px;
    }
    .nav-menu-item {
        line-height: 70px;
    }
    
    .footer {
        min-height: 20vh;
    }
    .nav__toggle {
        display: block;
    }
   
    .nav-menu_visible {
        display: block;
    }

}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* min-height: 100vh; */
    margin-top: 25%; 
}
.contenedor__footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 30%;
    padding: 20px 50px;
    border-top: 1px solid gray;
    flex-direction: column;
}

.social-icons, 
.footer__menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social-icons li, 
.footer__menu li {
    list-style: none;
}

.social-icons li a {
    font-size: 3em;
    color: black;
    margin: 0 30px;
    display: inline-block;
    transition: 0.5s;
}
.social-icons li a:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.footer__menu li a {
    font-size: 1.9em;
    color: black;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
}
.footer__menu li a:hover {
    opacity: 1;
}
.pages{
    color: rgb(0, 0, 0);
}
.año {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.4em;
    opacity: 0.75;
}

/* Nosotros */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img {
    transform: scale(1.2);
}
.about-content {
    flex: 1;
}
.about-content h1 {
    font-size: 23px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}
.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: red;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover {
    background-color: red;
}
@media (max-width: 1145px) {
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p {
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more {
        font-size: 16px;
    }
    
}

/* Historias */
.contenedor h1 {
    margin-bottom: 40px; /* Ajusta este valor según sea necesario */
}
.video-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-top: 56.25%; /* Proporción 16:9 (altura:ancho) */
    margin-right: 10px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.titulo-post {
    font-weight: 700;
    /* margin-bottom: 40px; */
}
.texto p {
    font-size: 16px;
    margin-bottom: 20px;
    
}
.texto {
    margin-left: 10px;
}
.texto h1 {
    text-decoration: underline;
}
.autor {
    text-align: center;
    margin-bottom: 20px; /* Centrar el contenido */
}

.autor a {
    color: #595959; /* Color del texto del enlace */
    text-decoration: none; /* Quitar subrayado predeterminado */
    margin: 0 5px;
    font-weight: normal; /* Espacio entre enlaces */
}
.texto span {
    font-weight: bold;
}

.autor a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
    color: black;
}
/* Contacto */

form {
    background: rgb(169, 169, 169);
    width: 1000px;
    margin: 25px auto;
    max-width: 100%;
    border-radius: 4px;
    padding: 55px 30px;
    /* border: 1px  solid black;
     */
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 7.5px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0) ;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}
form .full {
    margin-bottom: 24px;
}
form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0) ;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
}
form .action {
    margin-bottom: 152px;
}

form .action input {
    background:rgb(253, 253, 253) ;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 93px;
    font-weight: 600;
    height: 94px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0;
  
}


/* Proyecto */

.historia-contenedor {
    background: rgb(255, 255, 255);
    /* width: 100px; */
    margin: 25px auto;
    max-width:300px;
    border-radius: 4px;
    padding: 35px 30px;
    /* border: 1px  solid rgb(118, 118, 118);  */
  
}

.imagen-proyecto {
    width: 600px;
    height: 300px;
    max-height: 200px;  
    object-fit: cover;

}
.imagen-proyecto:hover {
    transform: scale(1.2);
}

.imagen-proyecto {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.imagen-proyecto img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.project-text {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 20px 10px;
}
.project-text p {
    color: grey;
    font-size: 1.9rem;
}



/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* min-height: 100vh; */
    margin-top: 25%; 
}
.contenedor__footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 30%;
    padding: 20px 50px;
    border-top: 1px solid gray;
    flex-direction: column;
}

.social-icons, 
.footer__menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social-icons li, 
.footer__menu li {
    list-style: none;
}

.social-icons li a {
    font-size: 3em;
    color: black;
    margin: 0 30px;
    display: inline-block;
    transition: 0.5s;
}
.social-icons li a:hover {
    transform: translateY(-10px);
}

.footer__menu li a {
    font-size: 1.9em;
    color: black;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
}
.footer__menu li a:hover {
    opacity: 1;
}
.pages{
    color: rgb(0, 0, 0);
}
.año {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.4em;
    opacity: 0.75;
}

/* Nosotros */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img {
    transform: scale(1.2);
}
.about-content {
    flex: 1;
}
.about-content h1 {
    font-size: 23px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}
.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: red;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover {
    background-color: red;
}
@media (max-width: 1145px) {
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p {
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more {
        font-size: 16px;
    }
    
}

/* Historias */

.video-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-top: 56.25%; /* Proporción 16:9 (altura:ancho) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Contacto */

form {
    background: rgb(169, 169, 169);
    width: 1000px;
    margin: 25px auto;
    max-width: 100%;
    border-radius: 4px;
    padding: 55px 30px;
    /* border: 1px  solid black;
     */
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 7.5px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0) ;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}
form .full {
    margin-bottom: 24px;
}
form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0) ;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
}
form .action {
    margin-bottom: 152px;
}

form .action input {
    background:rgb(253, 253, 253) ;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 93px;
    font-weight: 600;
    height: 94px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0;
}


/* Proyecto */
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px ;

}
.title-project {
    font-size: 2.4rem;
    
}
/* blog-box-container */
.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* blog-box*/
.project-box {
    max-width: 950px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
}
.project-box:hover {
    background-color: white;
    box-shadow:  16px 20px 50px rgba(0,0,0,0.12);
}
/* blog-box-img */
.project-img {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
}
/* blog-imh-link */
.project-link {
    position: absolute;
    font-size: 18px;
    left: 50%;
    top: 50%;
    transform: translate( -70%, -70%);
    width: 50px;
    top: 50%;
    /* border-radius: 50%; */
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.12);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 30px rgba(20, 97, 212, 0.12);
    animation: fade 0.3s;

}
.project-box:hover .project-img a {
    display: flex;
} 
.project-box:hover .project-img img {
    filter: blur(3px);
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* Fotografia Galeria de imagenes */

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.galeria img {
    max-width: 298px;
    max-height: 224px;
    margin: 2px;
}

.galeria img:hover {
    cursor: pointer;
    filter: brightness(70%);
}

#fullImageView {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 9999;
}

#fullImage {
    padding: 24px;
    max-width: 98%;
    max-height: 98%;
}

#closeButton {
    position: absolute ;
    top: 12px;
    right: 12px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 10000;
}


/* Categorias */
.post-list {
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 40px;
    margin-top: 40px;
    margin-bottom: 20px;
} 
.category-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}
.post {
    box-shadow: 0 1px 6px 1px rgb(0, 0, 0, .1);
    overflow: hidden; 
    transition: .2s;
}
.post:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgb(0,0,0.15);
}

.post-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-header {
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;  
}
.post:hover {
    transform: scale(1.1);
}

.post-body {
    padding: 1px;
    text-align: center;
}
.post-body p{
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    line-height: 1.5 ;
    text-align: center;
}
.post-body h1 {
    margin-bottom: 15px;
}
.post-body .post-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgb(0, 0, 0, .1);
    border: 2px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.post-body .post-link:hover {
    background: rgb(195, 195, 195);
    box-shadow: 1px 2px 6px 1px rgb(0, 0, 0, .2);

} 
.post-body h1 {
    margin-top: 20px;
}
