{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<main class="contenedor-inicio ">
  <!-- {% comment %} <h1>Inicio</h1> {% endcomment %} -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for post in history_posts %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <a href="{% url 'historia' post.id %}" class="carousel-link">
            <img class="d-block w-100" src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="carousel-caption d-md-block">
              <div class="black-bar">
                <h1>{{ post.title }}</h1>
                <h3>{{ post.nombre }}</h3>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>

<!-- <main class="contenedor">
  <h1>Fotografias</h1>
  <section class="post-list-fotografias">
    <div class="category-content-fotografias">
      
      {% for post in posts %}
      <article class="post-fotografias">
        <a href="{% url 'fotografia' post.id %}" class="post-link"> <!-- Enlace que envuelve todo el artículo 
          <div class="post-header-fotografias">
            <img class="post-img" src="{{ post.image.url }}" alt="{{ post.title }}">
          </div>
          <div class="post-body-fotografias">
            <h2>{{ post.title }}</h2> Cambiado a <h2> para mejorar la estructura semántica 
          </div>
        </a>
      </article>
      {% endfor %}
    </div>
  </section>
</main> -->

<main class="wrapper">
  <h1>Fotografías</h1>
  <i class="fa-solid fa-angle-left"></i>
  <div class="carousel">
    {% for post in posts %}
    <a href="{% url 'fotografia' post.id %}" class="post-link">
      <img class="image-item" src="{{ post.image.url }}" alt="{{ post.title }}">
      <!-- Aquí va el contenido de cada tarjeta -->
    </a>
    {% endfor %}
  </div>
  <i class="fa-solid fa-angle-right"></i>
</main>

{% endblock %}