{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<main class="contenedor">
  <!-- {% comment %} <h1>Inicio</h1> {% endcomment %} -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for post in posts %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <a href="{% url 'historia' post.id %}" class="carousel-link">
            <img class="d-block w-100" src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="carousel-caption d-md-block">
              <div class="black-bar">
                <h1>{{ post.title }}</h1>
                <h3>{{ post.nombre }}</h3>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>

{% endblock %}