{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<main class="contenedor-inicio">
  <!-- Carrusel Principal -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for post in history_posts %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <a href="{% url 'historia' post.id %}" class="carousel-link">
            <img class="d-block w-100" src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="carousel-caption d-md-block">
              <div class="black-bar">
                <h1>{{ post.title }}</h1>
                <h3>{{ post.nombre }}</h3>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>

<main class="contenedor-inicio-dos">
  <a href="{% url 'fotografias' %}" class="post-link"><h1>Fotografías</h1></a>
  <ul class="gallery">
    {% for post in posts %}
      <li>
        <div class="card">
          <a href="{% url 'fotografia' post.id %}" class="post-link">
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
            </div>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</main> 

<script>
  const slider = document.querySelector('.gallery');
let isDown = false;
let startX;
let scrollLeft;

slider.addEventListener('mousedown', e => {
  isDown = true;
  slider.classList.add('active');
  startX = e.pageX - slider.offsetLeft;
  scrollLeft = slider.scrollLeft;
});
slider.addEventListener('mouseleave', _ => {
  isDown = false;
  slider.classList.remove('active');
});
slider.addEventListener('mouseup', _ => {
  isDown = false;
  slider.classList.remove('active');
});
slider.addEventListener('mousemove', e => {
  if (!isDown) return;
  e.preventDefault();
  const x = e.pageX - slider.offsetLeft;
  const SCROLL_SPEED = 3;
  const walk = (x - startX) * SCROLL_SPEED;
  slider.scrollLeft = scrollLeft - walk;
});


</script>


{% endblock %}

