{% extends 'core/base.html' %}

{% load static %}

{% block title %}Nosotros{% endblock %}

{% block content %}

  <main class="contenedor">
    <div class="about">
      <div class="about-image">
        <img class="imagenes" src="{% static 'core/img/imagen1.webp' %}" alt="Imagen Nosotros"> 
      </div>
      <div class="about-content">
        <h1>Nuestra historia</h1>
        <p>El colectivo Rectángulo, compuesto por el fotógrafo Richard Salgado y por el realizador Miguel Luna, 
          nace en el 2012 en Santiago de Chile en base al encuentro entre la fotografía y el cine, mientras ambos 
          cursan la especialidad de cine documental en la Universidad de Chile.</p>
  </main>

{% endblock %}

