.contenedor-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los proyectos horizontalmente */
  align-items: flex-start; /* Alinea los proyectos arriba */
}

.custom-project {
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-bottom: 20px; /* Espacio entre proyectos */
}

.container-project {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.title-project {
  flex: 1 1 100%; /* Ocupa toda la anchura en una sola línea */
  text-align: right; /* Alinea el título a la derecha */
  padding: 20px;
  background-color: #f0f0f0; /* Color de fondo para el título */
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}

.content-project {
  flex: 1 1 100%; /* Ocupa toda la anchura en una sola línea */
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}

.image-container {
  flex: 0 0 50%; /* Ocupa la mitad del contenedor .content */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  max-width: 100%;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
  box-sizing: border-box;
}

.image-project {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen cubra el espacio de manera proporcional */
}

.text-project {
  flex: 1 1 50%; /* Ocupa la otra mitad del contenedor .content */
  padding: 20px;
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}

@media (max-width: 768px) {
  .image-container, .text-project {
    flex: 1 1 100%; /* Ocupa el 100% en pantallas pequeñas */
    margin-right: 0; /* Remueve el margen entre elementos */
  }

  .content-project {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  .title-project {
    text-align: center; /* Centra el título en pantallas pequeñas */
  }
}
