.project-home {
    /* background-color: grey; */
    padding: 1rem 9rem 2.5rem;
    min-height: 100vh;
    overflow: hidden;
    max-width: 100%;
    margin: 13rem auto 0;
}

.container-project {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 3rem; /* Añadir margen inferior para separar los proyectos */
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: space-between;
    gap: 3rem; /* Aumentar el gap para más espacio entre imagen y contenido */
}

.project-image {
    width: 45%; /* Ancho de la sección de la imagen */
    flex-shrink: 0; /* Asegura que el contenedor de imágenes no se reduzca */
    display: flex;
    justify-content: center; /* Centrar la imagen horizontalmente */
    align-items: center; /* Centrar la imagen verticalmente */
}

.project-img {
    width: 100%;
    height: auto; /* Ajustar altura automáticamente */
    overflow: hidden;
    margin-bottom: 1.56rem; /* Añadir margen inferior para espacio entre imágenes */
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustar la imagen dentro del contenedor sin distorsionar */
    transition: all 600ms;
}

.project-img:hover img {
    transform: scale(1.2);
}

.project-content {
    width: 50%; /* Ancho de la sección de contenido */
    max-width: 100%;
    text-align: left; /* Alinear el texto a la izquierda */
}

.project-name {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 13px;
    position: relative;
    text-transform: capitalize;
}

.project-name::after {
    content: '';
    position: absolute;
    top: 6px;
    right: -62px;
    width: 48px;
    height: 2px;
    background-color: black;
}

.project-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 20px; /* Ajustar el espacio inferior del título */
}

.project-text {
    margin-bottom: 1.56rem; /* Añadir margen inferior para espacio entre texto y botón */
    font-size: 15px;
}

.project-button {
    font-weight: 500;
    font-size: 1.125rem;
    border: 2px solid black;
    color: black;
    padding: 0.75rem 2.125rem;
    transition: background 600ms, color 600ms;
    margin-top: 20px;
}

.project-button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
    .container-project {
        flex-direction: column;
        align-items: center;
    }
    
    .project-image,
    .project-content {
        width: 100%; /* Cambiar a ancho completo en dispositivos más pequeños */
        max-width: 100%;
        text-align: center; /* Centrar el texto en dispositivos más pequeños */
    }
    
    .project-img {
        margin-bottom: 1.5rem; /* Ajuste de margen inferior en pantallas más pequeñas */
    }
}
