.image-project {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Proporción 16:9 */
  overflow: hidden;
}

.image-project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen para que siempre se vea entera */
}
.image-link:hover .project-image {
  transform: scale(1.1); /* Efecto de escala al hacer hover */
}

.image-link {
  display: block; /* Hace que el enlace ocupe todo el espacio del contenedor */
  overflow: hidden; /* Oculta cualquier contenido que pueda desbordar del enlace */
}