{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Contacto{% endblock %}

{% block content %}
<section class="contenedor">
  <h1>Contacto</h1>

  <!-- Formulario de contacto -->
  <form action="" method="POST">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" value="Enviar" {% if messages %}disabled{% endif %}>
  </form>

  <!-- Mensajes de éxito/error -->
  {% for message in messages %}
      <div class="alert alert-{{ message.tags }} mt-5" role="alert">
          <strong>{{ message }}</strong>
      </div>
  {% endfor %}
  <!-- Fin formulario de contacto -->
</section>
<script>
    // Espera a que el DOM se cargue completamente
    document.addEventListener("DOMContentLoaded", function() {
        // Selecciona todos los mensajes
        var messages = document.querySelectorAll('.alert');
        // Establece un temporizador para cada mensaje
        messages.forEach(function(message) {
            setTimeout(function() {
                // Desvanece el mensaje
                message.style.transition = "opacity 1s";
                message.style.opacity = "0";
                // Espera a que la transición termine y elimina el mensaje del DOM
                setTimeout(function() {
                    message.remove();
                }, 1000); // 1 segundo después de que empiece a desvanecerse
            }, 3000); // 3 segundos antes de empezar a desvanecerse
        });
    });
</script>

{% endblock %}