{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Contacto{% endblock %}

{% block content %}
<section class="contenedor">
  <h1>Contacto</h1>

  <!-- Formulario de contacto -->
  <form action="" method="POST">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" value="Enviar" {% if messages %}disabled{% endif %}>
  </form>

  <!-- Mensajes de éxito/error -->
  {% for message in messages %}
      <div class="alert alert-{{ message.tags }} mt-5" role="alert">
          <strong>{{ message }}</strong>
      </div>
  {% endfor %}
  <!-- Fin formulario de contacto -->
</section>


{% endblock %}